/* Police d'écriture */

@import url("http://fonts.cdnfonts.com/css/breathe-fire");

#breathe_fire {
  font-family: "Breathe Fire", sans-serif;
  font-size: 2.5rem;
}

/* Settings de base de la page */

body {
  margin: 0; /* Pour prendre tout l'écran */
}

#interface {
  display: grid;
  height: 100vh; /* Pour prendre tout l'écran */
  grid-template-rows: 15% 50% 20% 15%;
}

#haut,
#bas {
  background-color: #2d2524;
}

#centre,
#press_enter {
  background-color: #483b3a;
}

/* Haut avec titre du jeu */

/* Déplacement du texte au centre */
#haut {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style du titre */
#haut > h1 {
  color: #ead6ce;
  text-shadow: 0 0 4px #715c5b, 0 0 4px #715c5b, 0 0 4px #715c5b,
    0 0 4px #715c5b;
  filter: drop-shadow(0px 4px 4px black);
  font-size: 4rem;
}

/* Centre avec movement et attack / Press enter */

.rectangleZQSD {
  height: 23.75rem;
  width: 35.625rem;
  background-color: #2d2524;
}

.rectangleATTACK {
  height: 23.75rem;
  width: 23.75rem;
  background-color: #2d2524;
}

#centre {
  display: grid;
  /* Pour le placement des sections movement et attack */
  grid-template-columns: 25% 25% 10% 15% 25%;
  grid-template-rows: 6.25rem 23.75rem;
  justify-items: center;
}

#movement_rectangle {
  /* Placement dans le centre */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* Pour le placement dans le rectangle movement */
  display: grid;
  grid-template-rows: 2.688rem 11.438rem 2.5rem 2.563rem 4.563rem;
}

/* Placement des images dans le rectangle movement */
#movement_images {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}

/* Placement du texte dans le rectangle movement */
#movement_rectangle > h1 {
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: center;
}

/* Sûrement possible autrement mais ça fonctionne */
#separation {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#attack_rectangle {
  /* Placement dans le centre */
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  /* Pour le placement dans le rectangle attack */
  display: grid;
  grid-template-rows: 9.125rem 4.375rem 3.125rem 2.563rem 4.563rem;
}

/* Placement des images dans le rectangle attack */
#attack_images {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}

/* Placement du texte dans le rectangle attack */
#attack_rectangle > h1 {
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: center;
}

/* Style du texte des rectangles */
#movement_rectangle > h1,
#attack_rectangle > h1 {
  color: white;
  text-shadow: 0 0 2px #715c5b, 0 0 2px #715c5b, 0 0 2px #715c5b,
    0 0 2px #715c5b;
  filter: drop-shadow(0px 4px 4px black);
}

/* Déplacement du texte press enter */
#press_enter {
  height: 100%;
  padding-bottom: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style du texte press enter */
#press_enter > h1 {
  color: #ead6ce;
  text-shadow: 0 0 4px #2d2524, 0 0 4px #2d2524, 0 0 4px #2d2524,
    0 0 4px #2d2524;
  filter: drop-shadow(0px 4px 4px black);
}
