/* Police d'écriture */

@import url("http://fonts.cdnfonts.com/css/breathe-fire");

#breathe_fire {
  font-family: "Breathe Fire", sans-serif;
  src: url("/Fonts/BreatheFire-65pg.ttf") format("truetype");
}

/* Settings de base de la page */

body {
  margin: 0; /* Pour prendre tout l'écran */
}

#interface {
  display: grid;
  min-height: 100vh; /* Pour prendre tout l'écran */
  grid-template-rows: 15% 1fr 15%;
}

#haut,
#bas {
  background-color: #2d2524;
}

#canvas {
  background-color: #483b3a;
}

/* Déplacement du logo à gauche */
#haut a {
  position: absolute;
  left: 0;
  margin-left: 10%;
}

/* HUD Inventaire a.k.a Pots / arme / coins... tout ce qu'on voudra mettre quoi */

#haut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.625rem;
}

.grid_col_span_2 {
  grid-column: span 2;
}

.grid_row_span_2 {
  grid-row: span 2;
}

.inventaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* Mettre le nombre à côté des images */
.content {
  float: left;
}

h1 {
  color: white;
}

/* HUD Coeurs */

.vie h1 {
  display: flex;
  justify-content: center;
}

.LIFE {
  color: #da4e38;
}

/* Bas de page a.k.a boite de dialogue */

#bas {
  display: flex;
  justify-content: center;
  align-items: center;
}
